.container-list {
  display: flex;
  margin: 5px;
}

.container-item {
  background-color: rgb(225, 232, 235);
  display: inline-block;
  height: 230px;
  padding-top: 10px;
  text-align: center;
  width: 230px;
}

