.container-comments {
  padding: 50px;
}

.comment-item {
  background-color: rgba(211, 211, 211, 0.344);
  border: 2px outset rgba(128, 128, 128, 0.61);
  margin-top: 10px;
  padding: 15px;
}

.container-email-rating {
  display: flex;
  margin-bottom: 15px;
  padding: 5px;
}

.comment-item-email {
  font-weight: 500;
  width: 30%;
}

.comment-item-evaluation {
  margin: auto;
  width: 100%;
}

.container-detail-product {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 500px;
  width: 80%;
}

.container-product-detail-img {
  align-items: center;
  background-color: rgba(222, 250, 215, 0.404);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 5px;
  white-space: inherit;
  width: 70%;
}

[ data-testid = 'product-detail-name' ] {
  text-align: center;
}

.container-detail-price {
  align-items: stretch;
  background-color: rgba(204, 235, 204, 0.616);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  max-height: 500px;
  padding: 10px 20px;
  text-align: center;
  width: 25%;
}

.imagem {
  height: auto;
  margin: 5px;
  width: 200px;
}

.title-page-detail {
  color: forestgreen;
  text-align: center;
}

.frete {
  background-color: gold;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  padding: 4px;
}

.container-table {
  margin: auto;
  width: 50%;
}
