.container-comments {
  padding: 50px;
}

.comment-item {
  background-color: rgba(211, 211, 211, 0.344);
  border: 3px outset gray;
  margin-top: 10px;
  padding: 5px;
}

.container-email-rating {
  display: flex;
  margin-bottom: 5px;
}

.comment-item-email {
  font-weight: 500;
  width: 30%;
}

.comment-item-evaluation {
  margin: auto;
  width: 100%;
}

.container-detail-product {
  display: flex;
  justify-content: center;
}

.container-product-detail-img {
  align-items: center;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 70%;
}

[ data-testid = 'product-detail-name' ] {
  text-align: center;
}

.container-detail-price {
  align-items: center;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  text-align: center;
  width: 25%;
}

.imagem {
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  height: 200px;
  width: 200px;
}
